<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>
<body>
    <h1>Enter the day</h1>
    <form action="/submit" method="post">
        <input type="number" name="num">
        <input type="submit">
    </form>
    
</body>
</html>